In [77]:
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
import pandas as pd
import numpy as np
import plotly
import plotly.express as px
import plotly.graph_objects as go
import cufflinks as cf
cf.go_offline()
from plotly.subplots import make_subplots

In [48]:
df=pd.read_csv('./서울특별시 코로나19 자치구별 확진자 발생동향.csv', encoding='cp949')

In [49]:
df

,자치구 기준일,종로구 전체,종로구 추가,중구 전체,중구 추가,용산구 전체,용산구 추가,성동구 전체,성동구 추가,광진구 전체,...,서추구 추가,강남구 전체,강남구 추가,송파구 전체,송파구 추가,강동구 전체,강동구 추가,기타 전체,기타 추가,수집일
0,2021.08.20.00,1168,6,1135,5,2195,8,2126,20,2430,...,21,5238,55,4434,36,2835,24,5620,29,2021-08-20 12:11
1,2021.08.19.00,1162,4,1129,19,2187,16,2106,15,2412,...,20,5183,52,4400,30,2810,20,5593,47,2021-08-19 19:11
2,2021.08.18.00,1158,9,1110,17,2171,17,2091,10,2395,...,27,5131,48,4370,32,2790,18,5544,28,2021-08-18 19:11
3,2021.08.17.00,1148,4,1093,8,2154,9,2081,9,2380,...,15,5083,31,4339,16,2772,10,5515,20,2021-08-17 19:11
4,2021.08.16.00,1144,6,1085,7,2145,11,2071,10,2366,...,14,5052,31,4323,24,2762,7,5495,12,2021-08-16 19:11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
536,2020.03.03.10,11,0,0,0,0,0,3,0,2,...,1,9,1,12,0,4,0,10,0,NaN
537,2020.03.02.10,11,0,0,0,0,0,3,0,2,...,0,8,1,12,0,4,0,10,0,NaN
538,2020.03.01.10,11,0,0,0,0,0,3,0,1,...,0,7,1,12,0,4,0,10,1,NaN
539,2020.02.29.10,11,0,0,0,0,0,3,1,1,...,0,6,3,12,3,4,1,9,0,NaN
540,2020.02.28.10,11,0,0,0,0,0,2,0,1,...,1,3,1,9,0,3,0,9,2,NaN

In [50]:
df3 = []
for i in df.iloc[0].index:
    if '전체' in i:
        df3.append(pd.DataFrame({'자치구' : i,
                     '확진자' : df.iloc[0][i]}, index = [0]))
    else:
        pass

In [51]:
df4=pd.concat(df3)

In [153]:
df4.to_excel('자치구 전체 확진자.xlsx')

In [55]:
for i in range(len(df)):
    df.loc[i, '자치구 기준일'] = df.loc[i, '자치구 기준일'][:7]

In [56]:
df_day=list(df['자치구 기준일'].unique())

In [58]:
df5 = []
df6 = []
for i in range(len(df_day)):
    df[df['자치구 기준일'] == df_day[i]]
    for j in df.iloc[0].index:
        if '전체' in j:
            df5.append({'월' : df_day[i],
                        '자치구' : j,
                        '확진자' : df.iloc[0][j]})
   
    df6.append(df5)

In [62]:
df7 = []
df9 = []
for i in range(len(df_day)):
    df12=df[df['자치구 기준일'] == df_day[i]]
    for j in df.columns[1:]:
        if '추가' in j:
            df7.append({'월' : df_day[i],
                        '자치구' : j,
                        '확진자' :str(df12[j].sum())})
    df9.append(df7)

In [63]:
df10=pd.DataFrame(df9[0])

In [64]:
df8=pd.DataFrame(df6[0])

In [152]:
r_idx = list(range(df8.shape[0]-1,-1,-1))
reverse_df8 = pd.DataFrame(df8, index=r_idx)
df81=reverse_df8.reset_index(drop=True)
df81

           월     자치구   확진자
0    2020.02   기타 전체  5620
1    2020.02  강동구 전체  2835
2    2020.02  송파구 전체  4434
3    2020.02  강남구 전체  5238
4    2020.02  서초구 전체  3388
..       ...     ...   ...
489  2021.08  광진구 전체  2430
490  2021.08  성동구 전체  2126
491  2021.08  용산구 전체  2195
492  2021.08   중구 전체  1135
493  2021.08  종로구 전체  1168

[494 rows x 3 columns]

In [154]:
r_idx = list(range(df10.shape[0]-1,-1,-1))
reverse_df10 = pd.DataFrame(df10, index=r_idx)
df10_1=reverse_df10.reset_index(drop=True)
df10_1.to_excel('자치구 월별.xlsx')