In [20]:
import pandas as pd
import glob
import re

In [21]:
path = 'C:/Users/NaEunSu/project01/응용지표_2019/'
files = glob.glob(path + "*.xlsx")
excel = pd.DataFrame()

In [22]:
for file_name in files:
    df = pd.read_excel(file_name)
    print(df["일"])
    excel = pd.concat([excel,df],ignore_index=True)

0                0
1    2019-04-12(금)
Name: 일, dtype: object
0                0
1    2019-04-21(일)
Name: 일, dtype: object
0                0
1    2019-07-20(토)
Name: 일, dtype: object
0                0
1    2019-07-21(일)
Name: 일, dtype: object
0                0
1    2019-07-22(월)
Name: 일, dtype: object
0                0
1    2019-07-23(화)
Name: 일, dtype: object
0                0
1    2019-07-24(수)
Name: 일, dtype: object
0                0
1    2019-07-25(목)
Name: 일, dtype: object
0                0
1    2019-07-26(금)
Name: 일, dtype: object
0                0
1    2019-07-27(토)
Name: 일, dtype: object
0                0
1    2019-07-28(일)
Name: 일, dtype: object
0                0
1    2019-07-29(월)
Name: 일, dtype: object
0                0
1    2019-04-22(월)
Name: 일, dtype: object
0                0
1    2019-07-30(화)
Name: 일, dtype: object
0                0
1    2019-07-31(수)
Name: 일, dtype: object
0                0
1    2019-08-01(목)
Name: 일, dtype: object
0                0
1    2019-08-02(금)
Name: 일, dtype: object
0                0
1    2019-08-03(토)
Name: 일, dtype: object
0                0
1    2019-08-04(일)
Name: 일, dtype: object
0                0
1    2019-08-05(월)
Name: 일, dtype: object
0                0
1    2019-08-06(화)
Name: 일, dtype: object
0                0
1    2019-08-07(수)
Name: 일, dtype: object
0                0
1    2019-08-08(목)
Name: 일, dtype: object
0                0
1    2019-04-23(화)
Name: 일, dtype: object
0                0
1    2019-08-09(금)
Name: 일, dtype: object
0                0
1    2019-08-10(토)
Name: 일, dtype: object
0                0
1    2019-08-11(일)
Name: 일, dtype: object
0                0
1    2019-08-12(월)
Name: 일, dtype: object
0                0
1    2019-08-13(화)
Name: 일, dtype: object
0                0
1    2019-08-14(수)
Name: 일, dtype: object
0                0
1    2019-08-15(목)
Name: 일, dtype: object
0                0
1    2019-08-16(금)
Name: 일, dtype: object
0                0
1    2019-08-17(토)
Name: 일, dtype: object
0                0
1    2019-08-18(일)
Name: 일, dtype: object
0                0
1    2019-04-24(수)
Name: 일, dtype: object
0                0
1    2019-08-19(월)
Name: 일, dtype: object
0                0
1    2019-08-20(화)
Name: 일, dtype: object
0                0
1    2019-08-21(수)
Name: 일, dtype: object
0                0
1    2019-08-22(목)
Name: 일, dtype: object
0                0
1    2019-08-23(금)
Name: 일, dtype: object
0                0
1    2019-08-24(토)
Name: 일, dtype: object
0                0
1    2019-08-25(일)
Name: 일, dtype: object
0                0
1    2019-08-26(월)
Name: 일, dtype: object
0                0
1    2019-08-27(화)
Name: 일, dtype: object
0                0
1    2019-08-28(수)
Name: 일, dtype: object
0                0
1    2019-04-25(목)
Name: 일, dtype: object
0                0
1    2019-08-29(목)
Name: 일, dtype: object
0                0
1    2019-08-30(금)
Name: 일, dtype: object
0                0
1    2019-08-31(토)
Name: 일, dtype: object
0                0
1    2019-09-01(일)
Name: 일, dtype: object
0                0
1    2019-09-02(월)
Name: 일, dtype: object
0                0
1    2019-09-03(화)
Name: 일, dtype: object
0                0
1    2019-09-04(수)
Name: 일, dtype: object
0                0
1    2019-09-05(목)
Name: 일, dtype: object
0                0
1    2019-09-06(금)
Name: 일, dtype: object
0                0
1    2019-09-07(토)
Name: 일, dtype: object
0                0
1    2019-04-26(금)
Name: 일, dtype: object
0                0
1    2019-09-08(일)
Name: 일, dtype: object
0                0
1    2019-09-09(월)
Name: 일, dtype: object
0                0
1    2019-09-10(화)
Name: 일, dtype: object
0                0
1    2019-09-11(수)
Name: 일, dtype: object
0                0
1    2019-09-12(목)
Name: 일, dtype: object
0                0
1    2019-09-13(금)
Name: 일, dtype: object
0                0
1    2019-09-14(토)
Name: 일, dtype: object
0                0
1    2019-09-15(일)
Name: 일, dtype: object
0                0
1    2019-09-16(월)
Name: 일, dtype: object
0                0
1    2019-09-17(화)
Name: 일, dtype: object
0                0
1    2019-04-27(토)
Name: 일, dtype: object
0                0
1    2019-09-18(수)
Name: 일, dtype: object
0                0
1    2019-09-19(목)
Name: 일, dtype: object
0                0
1    2019-09-20(금)
Name: 일, dtype: object
0                0
1    2019-09-21(토)
Name: 일, dtype: object
0                0
1    2019-09-22(일)
Name: 일, dtype: object
0                0
1    2019-09-23(월)
Name: 일, dtype: object
0                0
1    2019-09-24(화)
Name: 일, dtype: object
0                0
1    2019-09-25(수)
Name: 일, dtype: object
0                0
1    2019-09-26(목)
Name: 일, dtype: object
0                0
1    2019-09-27(금)
Name: 일, dtype: object
0                0
1    2019-04-28(일)
Name: 일, dtype: object
0                0
1    2019-09-28(토)
Name: 일, dtype: object
0                0
1    2019-09-29(일)
Name: 일, dtype: object
0                0
1    2019-09-30(월)
Name: 일, dtype: object
0                0
1    2019-10-01(화)
Name: 일, dtype: object
0                0
1    2019-10-02(수)
Name: 일, dtype: object
0                0
1    2019-10-03(목)
Name: 일, dtype: object
0                0
1    2019-10-04(금)
Name: 일, dtype: object
0                0
1    2019-10-05(토)
Name: 일, dtype: object
0                0
1    2019-10-06(일)
Name: 일, dtype: object
0                0
1    2019-10-07(월)
Name: 일, dtype: object
0                0
1    2019-04-29(월)
Name: 일, dtype: object
0                0
1    2019-10-08(화)
Name: 일, dtype: object
0                0
1    2019-10-09(수)
Name: 일, dtype: object
0                0
1    2019-10-10(목)
Name: 일, dtype: object
0                0
1    2019-10-11(금)
Name: 일, dtype: object
0                0
1    2019-10-12(토)
Name: 일, dtype: object
0                0
1    2019-10-13(일)
Name: 일, dtype: object
0                0
1    2019-10-14(월)
Name: 일, dtype: object
0                0
1    2019-10-15(화)
Name: 일, dtype: object
0                0
1    2019-10-16(수)
Name: 일, dtype: object
0                0
1    2019-10-17(목)
Name: 일, dtype: object
0                0
1    2019-04-30(화)
Name: 일, dtype: object
0                0
1    2019-10-18(금)
Name: 일, dtype: object
0                0
1    2019-10-19(토)
Name: 일, dtype: object
0                0
1    2019-10-20(일)
Name: 일, dtype: object
0                0
1    2019-10-21(월)
Name: 일, dtype: object
0                0
1    2019-10-22(화)
Name: 일, dtype: object
0                0
1    2019-10-23(수)
Name: 일, dtype: object
0                0
1    2019-10-24(목)
Name: 일, dtype: object
0                0
1    2019-10-25(금)
Name: 일, dtype: object
0                0
1    2019-10-26(토)
Name: 일, dtype: object
0                0
1    2019-10-27(일)
Name: 일, dtype: object
0                0
1    2019-04-13(토)
Name: 일, dtype: object
0                0
1    2019-05-01(수)
Name: 일, dtype: object
0                0
1    2019-10-28(월)
Name: 일, dtype: object
0                0
1    2019-10-29(화)
Name: 일, dtype: object
0                0
1    2019-10-30(수)
Name: 일, dtype: object
0                0
1    2019-10-31(목)
Name: 일, dtype: object
0                0
1    2019-11-01(금)
Name: 일, dtype: object
0                0
1    2019-11-02(토)
Name: 일, dtype: object
0                0
1    2019-11-03(일)
Name: 일, dtype: object
0                0
1    2019-11-04(월)
Name: 일, dtype: object
0                0
1    2019-11-05(화)
Name: 일, dtype: object
0                0
1    2019-11-06(수)
Name: 일, dtype: object
0                0
1    2019-05-02(목)
Name: 일, dtype: object
0                0
1    2019-11-07(목)
Name: 일, dtype: object
0                0
1    2019-11-08(금)
Name: 일, dtype: object
0                0
1    2019-11-09(토)
Name: 일, dtype: object
0                0
1    2019-11-10(일)
Name: 일, dtype: object
0                0
1    2019-11-11(월)
Name: 일, dtype: object
0                0
1    2019-11-12(화)
Name: 일, dtype: object
0                0
1    2019-11-13(수)
Name: 일, dtype: object
0                0
1    2019-11-14(목)
Name: 일, dtype: object
0                0
1    2019-11-15(금)
Name: 일, dtype: object
0                0
1    2019-11-16(토)
Name: 일, dtype: object
0                0
1    2019-05-03(금)
Name: 일, dtype: object
0                0
1    2019-11-17(일)
Name: 일, dtype: object
0                0
1    2019-11-18(월)
Name: 일, dtype: object
0                0
1    2019-11-19(화)
Name: 일, dtype: object
0                0
1    2019-11-20(수)
Name: 일, dtype: object
0                0
1    2019-11-21(목)
Name: 일, dtype: object
0                0
1    2019-11-22(금)
Name: 일, dtype: object
0                0
1    2019-11-23(토)
Name: 일, dtype: object
0                0
1    2019-11-24(일)
Name: 일, dtype: object
0                0
1    2019-11-25(월)
Name: 일, dtype: object
0                0
1    2019-11-26(화)
Name: 일, dtype: object
0                0
1    2019-05-04(토)
Name: 일, dtype: object
0                0
1    2019-11-27(수)
Name: 일, dtype: object
0                0
1    2019-11-28(목)
Name: 일, dtype: object
0                0
1    2019-11-29(금)
Name: 일, dtype: object

0                0
1    2019-11-30(토)
Name: 일, dtype: object
0                0
1    2019-12-01(일)
Name: 일, dtype: object
0                0
1    2019-12-02(월)
Name: 일, dtype: object
0                0
1    2019-12-03(화)
Name: 일, dtype: object
0                0
1    2019-12-04(수)
Name: 일, dtype: object
0                0
1    2019-12-05(목)
Name: 일, dtype: object
0                0
1    2019-12-06(금)
Name: 일, dtype: object
0                0
1    2019-05-05(일)
Name: 일, dtype: object
0                0
1    2019-12-07(토)
Name: 일, dtype: object
0                0
1    2019-12-08(일)
Name: 일, dtype: object
0                0
1    2019-12-09(월)
Name: 일, dtype: object
0                0
1    2019-12-10(화)
Name: 일, dtype: object
0                0
1    2019-12-11(수)
Name: 일, dtype: object
0                0
1    2019-12-12(목)
Name: 일, dtype: object
0                0
1    2019-12-13(금)
Name: 일, dtype: object
0                0
1    2019-12-14(토)
Name: 일, dtype: object
0                0
1    2019-12-15(일)
Name: 일, dtype: object
0                0
1    2019-12-16(월)
Name: 일, dtype: object
0                0
1    2019-05-06(월)
Name: 일, dtype: object
0                0
1    2019-12-17(화)
Name: 일, dtype: object
0                0
1    2019-12-18(수)
Name: 일, dtype: object
0                0
1    2019-12-19(목)
Name: 일, dtype: object
0                0
1    2019-12-20(금)
Name: 일, dtype: object
0                0
1    2019-12-21(토)
Name: 일, dtype: object
0                0
1    2019-12-22(일)
Name: 일, dtype: object
0                0
1    2019-12-23(월)
Name: 일, dtype: object
0                0
1    2019-12-24(화)
Name: 일, dtype: object
0                0
1    2019-12-25(수)
Name: 일, dtype: object
0                0
1    2019-12-26(목)
Name: 일, dtype: object
0                0
1    2019-05-07(화)
Name: 일, dtype: object
0                0
1    2019-12-27(금)
Name: 일, dtype: object
0                0
1    2019-12-28(토)
Name: 일, dtype: object
0                0
1    2019-12-29(일)
Name: 일, dtype: object
0                0
1    2019-12-30(월)
Name: 일, dtype: object
0                0
1    2019-12-31(화)
Name: 일, dtype: object
0                0
1    2019-01-02(수)
Name: 일, dtype: object
0                0
1    2019-01-03(목)
Name: 일, dtype: object
0                0
1    2019-01-04(금)
Name: 일, dtype: object
0                0
1    2019-01-05(토)
Name: 일, dtype: object
0                0
1    2019-01-06(일)
Name: 일, dtype: object
0                0
1    2019-05-08(수)
Name: 일, dtype: object
0                0
1    2019-01-07(월)
Name: 일, dtype: object
0                0
1    2019-01-08(화)
Name: 일, dtype: object
0                0
1    2019-01-09(수)
Name: 일, dtype: object
0                0
1    2019-01-10(목)
Name: 일, dtype: object
0                0
1    2019-01-11(금)
Name: 일, dtype: object
0                0
1    2019-01-12(토)
Name: 일, dtype: object
0                0
1    2019-01-13(일)
Name: 일, dtype: object
0                0
1    2019-01-14(월)
Name: 일, dtype: object
0                0
1    2019-01-15(화)
Name: 일, dtype: object
0                0
1    2019-01-16(수)
Name: 일, dtype: object
0                0
1    2019-05-09(목)
Name: 일, dtype: object
0                0
1    2019-01-17(목)
Name: 일, dtype: object
0                0
1    2019-01-18(금)
Name: 일, dtype: object
0                0
1    2019-01-19(토)
Name: 일, dtype: object
0                0
1    2019-01-20(일)
Name: 일, dtype: object
0                0
1    2019-01-21(월)
Name: 일, dtype: object
0                0
1    2019-01-22(화)
Name: 일, dtype: object
0                0
1    2019-01-23(수)
Name: 일, dtype: object
0                0
1    2019-01-24(목)
Name: 일, dtype: object
0                0
1    2019-01-25(금)
Name: 일, dtype: object
0                0
1    2019-01-26(토)
Name: 일, dtype: object
0                0
1    2019-05-10(금)
Name: 일, dtype: object
0                0
1    2019-01-27(일)
Name: 일, dtype: object
0                0
1    2019-01-28(월)
Name: 일, dtype: object
0                0
1    2019-01-29(화)
Name: 일, dtype: object
0                0
1    2019-01-30(수)
Name: 일, dtype: object
0                0
1    2019-01-31(목)
Name: 일, dtype: object
0                0
1    2019-02-01(금)
Name: 일, dtype: object
0                0
1    2019-02-02(토)
Name: 일, dtype: object
0                0
1    2019-02-03(일)
Name: 일, dtype: object
0                0
1    2019-02-04(월)
Name: 일, dtype: object
0                0
1    2019-02-05(화)
Name: 일, dtype: object
0                0
1    2019-04-14(일)
Name: 일, dtype: object
0                0
1    2019-05-11(토)
Name: 일, dtype: object
0                0
1    2019-02-06(수)
Name: 일, dtype: object
0                0
1    2019-02-07(목)
Name: 일, dtype: object
0                0
1    2019-02-08(금)
Name: 일, dtype: object
0                0
1    2019-02-09(토)
Name: 일, dtype: object
0                0
1    2019-02-10(일)
Name: 일, dtype: object
0                0
1    2019-02-11(월)
Name: 일, dtype: object
0                0
1    2019-02-12(화)
Name: 일, dtype: object
0                0
1    2019-02-13(수)
Name: 일, dtype: object
0                0
1    2019-02-14(목)
Name: 일, dtype: object
0                0
1    2019-02-15(금)
Name: 일, dtype: object
0                0
1    2019-05-12(일)
Name: 일, dtype: object
0                0
1    2019-02-16(토)
Name: 일, dtype: object
0                0
1    2019-02-17(일)
Name: 일, dtype: object
0                0
1    2019-02-18(월)
Name: 일, dtype: object
0                0
1    2019-02-19(화)
Name: 일, dtype: object
0                0
1    2019-02-20(수)
Name: 일, dtype: object
0                0
1    2019-02-21(목)
Name: 일, dtype: object
0                0
1    2019-02-22(금)
Name: 일, dtype: object
0                0
1    2019-02-23(토)
Name: 일, dtype: object
0                0
1    2019-02-24(일)
Name: 일, dtype: object
0                0
1    2019-02-25(월)
Name: 일, dtype: object
0                0
1    2019-05-13(월)
Name: 일, dtype: object
0                0
1    2019-02-26(화)
Name: 일, dtype: object
0                0
1    2019-02-27(수)
Name: 일, dtype: object
0                0
1    2019-02-28(목)
Name: 일, dtype: object
0                0
1    2019-03-01(금)
Name: 일, dtype: object
0                0
1    2019-03-02(토)
Name: 일, dtype: object
0                0
1    2019-03-03(일)
Name: 일, dtype: object
0                0
1    2019-03-04(월)
Name: 일, dtype: object
0                0
1    2019-03-05(화)
Name: 일, dtype: object
0                0
1    2019-03-06(수)
Name: 일, dtype: object
0                0
1    2019-03-07(목)
Name: 일, dtype: object
0                0
1    2019-05-14(화)
Name: 일, dtype: object
0                0
1    2019-03-08(금)
Name: 일, dtype: object
0                0
1    2019-03-09(토)
Name: 일, dtype: object
0                0
1    2019-03-10(일)
Name: 일, dtype: object
0                0
1    2019-03-11(월)
Name: 일, dtype: object
0                0
1    2019-03-12(화)
Name: 일, dtype: object
0                0
1    2019-03-13(수)
Name: 일, dtype: object
0                0
1    2019-03-14(목)
Name: 일, dtype: object
0                0
1    2019-03-15(금)
Name: 일, dtype: object
0                0
1    2019-03-16(토)
Name: 일, dtype: object
0                0
1    2019-03-17(일)
Name: 일, dtype: object
0                0
1    2019-05-15(수)
Name: 일, dtype: object
0                0
1    2019-03-18(월)
Name: 일, dtype: object
0                0
1    2019-03-19(화)
Name: 일, dtype: object
0                0
1    2019-03-20(수)
Name: 일, dtype: object
0                0
1    2019-03-21(목)
Name: 일, dtype: object
0                0
1    2019-03-22(금)
Name: 일, dtype: object
0                0
1    2019-03-23(토)
Name: 일, dtype: object
0                0
1    2019-03-24(일)
Name: 일, dtype: object
0                0
1    2019-03-25(월)
Name: 일, dtype: object
0                0
1    2019-03-26(화)
Name: 일, dtype: object
0                0
1    2019-03-27(수)
Name: 일, dtype: object
0                0
1    2019-05-16(목)
Name: 일, dtype: object
0                0
1    2019-03-28(목)
Name: 일, dtype: object
0                0
1    2019-03-29(금)
Name: 일, dtype: object
0                0
1    2019-03-30(토)
Name: 일, dtype: object
0                0
1    2019-03-31(일)
Name: 일, dtype: object
0                0
1    2019-04-01(월)
Name: 일, dtype: object
0                0
1    2019-04-02(화)
Name: 일, dtype: object
0                0
1    2019-04-03(수)
Name: 일, dtype: object
0                0
1    2019-04-04(목)
Name: 일, dtype: object
0                0
1    2019-04-05(금)
Name: 일, dtype: object
0                0
1    2019-04-06(토)
Name: 일, dtype: object
0                0
1    2019-05-17(금)
Name: 일, dtype: object
0                0
1    2019-04-07(일)
Name: 일, dtype: object
0                0
1    2019-04-08(월)
Name: 일, dtype: object
0                0
1    2019-04-09(화)
Name: 일, dtype: object
0                0
1    2019-04-10(수)
Name: 일, dtype: object
0                0
1    2019-04-11(목)
Name: 일, dtype: object
0                0
1    2019-01-01(화)
Name: 일, dtype: object

0                0
1    2019-05-18(토)
Name: 일, dtype: object
0                0
1    2019-05-19(일)
Name: 일, dtype: object
0                0
1    2019-05-20(월)
Name: 일, dtype: object
0                0
1    2019-04-15(월)
Name: 일, dtype: object
0                0
1    2019-05-21(화)
Name: 일, dtype: object
0                0
1    2019-05-22(수)
Name: 일, dtype: object
0                0
1    2019-05-23(목)
Name: 일, dtype: object
0                0
1    2019-05-24(금)
Name: 일, dtype: object
0                0
1    2019-05-25(토)
Name: 일, dtype: object
0                0
1    2019-05-26(일)
Name: 일, dtype: object
0                0
1    2019-05-27(월)
Name: 일, dtype: object
0                0
1    2019-05-28(화)
Name: 일, dtype: object
0                0
1    2019-05-29(수)
Name: 일, dtype: object
0                0
1    2019-05-30(목)
Name: 일, dtype: object
0                0
1    2019-04-16(화)
Name: 일, dtype: object
0                0
1    2019-05-31(금)
Name: 일, dtype: object
0                0
1    2019-06-01(토)
Name: 일, dtype: object
0                0
1    2019-06-02(일)
Name: 일, dtype: object
0                0
1    2019-06-03(월)
Name: 일, dtype: object
0                0
1    2019-06-04(화)
Name: 일, dtype: object
0                0
1    2019-06-05(수)
Name: 일, dtype: object
0                0
1    2019-06-06(목)
Name: 일, dtype: object
0                0
1    2019-06-07(금)
Name: 일, dtype: object
0                0
1    2019-06-08(토)
Name: 일, dtype: object
0                0
1    2019-06-09(일)
Name: 일, dtype: object
0                0
1    2019-04-17(수)
Name: 일, dtype: object
0                0
1    2019-06-10(월)
Name: 일, dtype: object
0                0
1    2019-06-11(화)
Name: 일, dtype: object
0                0
1    2019-06-12(수)
Name: 일, dtype: object
0                0
1    2019-06-13(목)
Name: 일, dtype: object
0                0
1    2019-06-14(금)
Name: 일, dtype: object
0                0
1    2019-06-15(토)
Name: 일, dtype: object
0                0
1    2019-06-16(일)
Name: 일, dtype: object
0                0
1    2019-06-17(월)
Name: 일, dtype: object
0                0
1    2019-06-18(화)
Name: 일, dtype: object
0                0
1    2019-06-19(수)
Name: 일, dtype: object
0                0
1    2019-04-18(목)
Name: 일, dtype: object
0                0
1    2019-06-20(목)
Name: 일, dtype: object
0                0
1    2019-06-21(금)
Name: 일, dtype: object
0                0
1    2019-06-22(토)
Name: 일, dtype: object
0                0
1    2019-06-23(일)
Name: 일, dtype: object
0                0
1    2019-06-24(월)
Name: 일, dtype: object
0                0
1    2019-06-25(화)
Name: 일, dtype: object
0                0
1    2019-06-26(수)
Name: 일, dtype: object
0                0
1    2019-06-27(목)
Name: 일, dtype: object
0                0
1    2019-06-28(금)
Name: 일, dtype: object
0                0
1    2019-06-29(토)
Name: 일, dtype: object
0                0
1    2019-04-19(금)
Name: 일, dtype: object
0                0
1    2019-06-30(일)
Name: 일, dtype: object
0                0
1    2019-07-01(월)
Name: 일, dtype: object
0                0
1    2019-07-02(화)
Name: 일, dtype: object
0                0
1    2019-07-03(수)
Name: 일, dtype: object
0                0
1    2019-07-04(목)
Name: 일, dtype: object
0                0
1    2019-07-05(금)
Name: 일, dtype: object
0                0
1    2019-07-06(토)
Name: 일, dtype: object
0                0
1    2019-07-07(일)
Name: 일, dtype: object
0                0
1    2019-07-08(월)
Name: 일, dtype: object
0                0
1    2019-07-09(화)
Name: 일, dtype: object
0                0
1    2019-04-20(토)
Name: 일, dtype: object
0                0
1    2019-07-10(수)
Name: 일, dtype: object
0                0
1    2019-07-11(목)
Name: 일, dtype: object
0                0
1    2019-07-12(금)
Name: 일, dtype: object
0                0
1    2019-07-13(토)
Name: 일, dtype: object
0                0
1    2019-07-14(일)
Name: 일, dtype: object
0                0
1    2019-07-15(월)
Name: 일, dtype: object
0                0
1    2019-07-16(화)
Name: 일, dtype: object
0                0
1    2019-07-17(수)
Name: 일, dtype: object
0                0
1    2019-07-18(목)
Name: 일, dtype: object
0                0
1    2019-07-19(금)
Name: 일, dtype: object
0                0
1    2020-04-11(토)
Name: 일, dtype: object
0                0
1    2020-04-20(월)
Name: 일, dtype: object
0                0
1    2020-01-20(월)
Name: 일, dtype: object
0                0
1    2020-01-21(화)
Name: 일, dtype: object
0                0
1    2020-01-22(수)
Name: 일, dtype: object
0                0
1    2020-01-23(목)
Name: 일, dtype: object
0                0
1    2020-01-24(금)
Name: 일, dtype: object
0                0
1    2020-01-25(토)
Name: 일, dtype: object
0                0
1    2020-01-26(일)
Name: 일, dtype: object
0                0
1    2020-01-27(월)
Name: 일, dtype: object
0                0
1    2020-01-28(화)
Name: 일, dtype: object
0                0
1    2020-01-29(수)
Name: 일, dtype: object
0                0
1    2020-04-21(화)
Name: 일, dtype: object
0                0
1    2020-01-30(목)
Name: 일, dtype: object
0                0
1    2020-01-31(금)
Name: 일, dtype: object
0                0
1    2020-02-01(토)
Name: 일, dtype: object
0                0
1    2020-02-02(일)
Name: 일, dtype: object
0                0
1    2020-02-03(월)
Name: 일, dtype: object
0                0
1    2020-02-04(화)
Name: 일, dtype: object
0                0
1    2020-02-05(수)
Name: 일, dtype: object
0                0
1    2020-02-06(목)
Name: 일, dtype: object
0                0
1    2020-02-07(금)
Name: 일, dtype: object
0                0
1    2020-02-08(토)
Name: 일, dtype: object
0                0
1    2020-04-22(수)
Name: 일, dtype: object
0                0
1    2020-02-09(일)
Name: 일, dtype: object
0                0
1    2020-02-10(월)
Name: 일, dtype: object
0                0
1    2020-02-11(화)
Name: 일, dtype: object
0                0
1    2020-02-12(수)
Name: 일, dtype: object
0                0
1    2020-02-13(목)
Name: 일, dtype: object
0                0
1    2020-02-14(금)
Name: 일, dtype: object
0                0
1    2020-02-15(토)
Name: 일, dtype: object
0                0
1    2020-02-16(일)
Name: 일, dtype: object
0                0
1    2020-02-17(월)
Name: 일, dtype: object
0                0
1    2020-02-18(화)
Name: 일, dtype: object
0                0
1    2020-04-23(목)
Name: 일, dtype: object
0                0
1    2020-02-19(수)
Name: 일, dtype: object
0                0
1    2020-02-20(목)
Name: 일, dtype: object
0                0
1    2020-02-21(금)
Name: 일, dtype: object
0                0
1    2020-02-22(토)
Name: 일, dtype: object
0                0
1    2020-02-23(일)
Name: 일, dtype: object
0                0
1    2020-02-24(월)
Name: 일, dtype: object
0                0
1    2020-02-25(화)
Name: 일, dtype: object
0                0
1    2020-02-26(수)
Name: 일, dtype: object
0                0
1    2020-02-27(목)
Name: 일, dtype: object
0                0
1    2020-02-28(금)
Name: 일, dtype: object
0                0
1    2020-04-24(금)
Name: 일, dtype: object
0                0
1    2020-02-29(토)
Name: 일, dtype: object
0                0
1    2020-03-01(일)
Name: 일, dtype: object
0                0
1    2020-03-02(월)
Name: 일, dtype: object
0                0
1    2020-03-03(화)
Name: 일, dtype: object
0                0
1    2020-03-04(수)
Name: 일, dtype: object
0                0
1    2020-03-05(목)
Name: 일, dtype: object
0                0
1    2020-03-06(금)
Name: 일, dtype: object
0                0
1    2020-03-07(토)
Name: 일, dtype: object
0                0
1    2020-03-08(일)
Name: 일, dtype: object
0                0
1    2020-03-09(월)
Name: 일, dtype: object
0                0
1    2020-04-25(토)
Name: 일, dtype: object
0                0
1    2020-03-10(화)
Name: 일, dtype: object
0                0
1    2020-03-11(수)
Name: 일, dtype: object
0                0
1    2020-03-12(목)
Name: 일, dtype: object
0                0
1    2020-03-13(금)
Name: 일, dtype: object
0                0
1    2020-03-14(토)
Name: 일, dtype: object
0                0
1    2020-03-15(일)
Name: 일, dtype: object
0                0
1    2020-03-16(월)
Name: 일, dtype: object
0                0
1    2020-03-17(화)
Name: 일, dtype: object
0                0
1    2020-03-18(수)
Name: 일, dtype: object
0                0
1    2020-03-19(목)
Name: 일, dtype: object
0                0
1    2020-04-26(일)
Name: 일, dtype: object
0                0
1    2020-03-20(금)
Name: 일, dtype: object
0                0
1    2020-03-21(토)
Name: 일, dtype: object
0                0
1    2020-03-22(일)
Name: 일, dtype: object
0                0
1    2020-03-23(월)
Name: 일, dtype: object
0                0
1    2020-03-24(화)
Name: 일, dtype: object
0                0
1    2020-03-25(수)
Name: 일, dtype: object
0                0
1    2020-03-26(목)
Name: 일, dtype: object

0                0
1    2020-03-27(금)
Name: 일, dtype: object
0                0
1    2020-03-28(토)
Name: 일, dtype: object
0                0
1    2020-03-29(일)
Name: 일, dtype: object
0                0
1    2020-04-27(월)
Name: 일, dtype: object
0                0
1    2020-03-30(월)
Name: 일, dtype: object
0                0
1    2020-03-31(화)
Name: 일, dtype: object
0                0
1    2020-04-01(수)
Name: 일, dtype: object
0                0
1    2020-04-02(목)
Name: 일, dtype: object
0                0
1    2020-04-03(금)
Name: 일, dtype: object
0                0
1    2020-04-04(토)
Name: 일, dtype: object
0                0
1    2020-04-05(일)
Name: 일, dtype: object
0                0
1    2020-04-06(월)
Name: 일, dtype: object
0                0
1    2020-04-07(화)
Name: 일, dtype: object
0                0
1    2020-04-08(수)
Name: 일, dtype: object
0                0
1    2020-04-28(화)
Name: 일, dtype: object
0                0
1    2020-04-09(목)
Name: 일, dtype: object
0                0
1    2020-04-10(금)
Name: 일, dtype: object
0                0
1    2020-01-01(수)
Name: 일, dtype: object
0                0
1    2020-04-29(수)
Name: 일, dtype: object
0                0
1    2020-04-12(일)
Name: 일, dtype: object
0                0
1    2020-04-30(목)
Name: 일, dtype: object
0                0
1    2020-05-01(금)
Name: 일, dtype: object
0                0
1    2020-05-02(토)
Name: 일, dtype: object
0                0
1    2020-05-03(일)
Name: 일, dtype: object
0                0
1    2020-05-04(월)
Name: 일, dtype: object
0                0
1    2020-05-05(화)
Name: 일, dtype: object
0                0
1    2020-05-06(수)
Name: 일, dtype: object
0                0
1    2020-05-07(목)
Name: 일, dtype: object
0                0
1    2020-05-08(금)
Name: 일, dtype: object
0                0
1    2020-05-09(토)
Name: 일, dtype: object
0                0
1    2020-04-13(월)
Name: 일, dtype: object
0                0
1    2020-05-10(일)
Name: 일, dtype: object
0                0
1    2020-05-11(월)
Name: 일, dtype: object
0                0
1    2020-05-12(화)
Name: 일, dtype: object
0                0
1    2020-05-13(수)
Name: 일, dtype: object
0                0
1    2020-05-14(목)
Name: 일, dtype: object
0                0
1    2020-05-15(금)
Name: 일, dtype: object
0                0
1    2020-05-16(토)
Name: 일, dtype: object
0                0
1    2020-05-17(일)
Name: 일, dtype: object
0                0
1    2020-05-18(월)
Name: 일, dtype: object
0                0
1    2020-05-19(화)
Name: 일, dtype: object
0                0
1    2020-04-14(화)
Name: 일, dtype: object
0                0
1    2020-05-20(수)
Name: 일, dtype: object
0                0
1    2020-05-21(목)
Name: 일, dtype: object
0                0
1    2020-05-22(금)
Name: 일, dtype: object
0                0
1    2020-05-23(토)
Name: 일, dtype: object
0                0
1    2020-05-24(일)
Name: 일, dtype: object
0                0
1    2020-05-25(월)
Name: 일, dtype: object
0                0
1    2020-05-26(화)
Name: 일, dtype: object
0                0
1    2020-05-27(수)
Name: 일, dtype: object
0                0
1    2020-05-28(목)
Name: 일, dtype: object
0                0
1    2020-05-29(금)
Name: 일, dtype: object
0                0
1    2020-04-15(수)
Name: 일, dtype: object
0                0
1    2020-05-30(토)
Name: 일, dtype: object
0                0
1    2020-05-31(일)
Name: 일, dtype: object
0                0
1    2020-06-01(월)
Name: 일, dtype: object
0                0
1    2020-06-02(화)
Name: 일, dtype: object
0                0
1    2020-06-03(수)
Name: 일, dtype: object
0                0
1    2020-06-04(목)
Name: 일, dtype: object
0                0
1    2020-06-05(금)
Name: 일, dtype: object
0                0
1    2020-06-06(토)
Name: 일, dtype: object
0                0
1    2020-06-07(일)
Name: 일, dtype: object
0                0
1    2020-06-08(월)
Name: 일, dtype: object
0                0
1    2020-04-16(목)
Name: 일, dtype: object
0                0
1    2020-06-09(화)
Name: 일, dtype: object
0                0
1    2020-06-10(수)
Name: 일, dtype: object
0                0
1    2020-06-11(목)
Name: 일, dtype: object
0                0
1    2020-06-12(금)
Name: 일, dtype: object
0                0
1    2020-06-13(토)
Name: 일, dtype: object
0                0
1    2020-06-14(일)
Name: 일, dtype: object
0                0
1    2020-06-15(월)
Name: 일, dtype: object
0                0
1    2020-06-16(화)
Name: 일, dtype: object
0                0
1    2020-06-17(수)
Name: 일, dtype: object
0                0
1    2020-06-18(목)
Name: 일, dtype: object
0                0
1    2020-04-17(금)
Name: 일, dtype: object
0                0
1    2020-06-19(금)
Name: 일, dtype: object
0                0
1    2020-06-20(토)
Name: 일, dtype: object
0                0
1    2020-06-21(일)
Name: 일, dtype: object
0                0
1    2020-06-22(월)
Name: 일, dtype: object
0                0
1    2020-06-23(화)
Name: 일, dtype: object
0                0
1    2020-06-24(수)
Name: 일, dtype: object
0                0
1    2020-06-25(목)
Name: 일, dtype: object
0                0
1    2020-06-26(금)
Name: 일, dtype: object
0                0
1    2020-06-27(토)
Name: 일, dtype: object
0                0
1    2020-06-28(일)
Name: 일, dtype: object
0                0
1    2020-04-18(토)
Name: 일, dtype: object
0                0
1    2020-06-29(월)
Name: 일, dtype: object
0                0
1    2020-06-30(화)
Name: 일, dtype: object
0                0
1    2020-01-02(목)
Name: 일, dtype: object
0                0
1    2020-01-03(금)
Name: 일, dtype: object
0                0
1    2020-01-04(토)
Name: 일, dtype: object
0                0
1    2020-01-05(일)
Name: 일, dtype: object
0                0
1    2020-01-06(월)
Name: 일, dtype: object
0                0
1    2020-01-07(화)
Name: 일, dtype: object
0                0
1    2020-01-08(수)
Name: 일, dtype: object
0                0
1    2020-01-09(목)
Name: 일, dtype: object
0                0
1    2020-04-19(일)
Name: 일, dtype: object
0                0
1    2020-01-10(금)
Name: 일, dtype: object
0                0
1    2020-01-11(토)
Name: 일, dtype: object
0                0
1    2020-01-12(일)
Name: 일, dtype: object
0                0
1    2020-01-13(월)
Name: 일, dtype: object
0                0
1    2020-01-14(화)
Name: 일, dtype: object
0                0
1    2020-01-15(수)
Name: 일, dtype: object
0                0
1    2020-01-16(목)
Name: 일, dtype: object
0                0
1    2020-01-17(금)
Name: 일, dtype: object
0                0
1    2020-01-18(토)
Name: 일, dtype: object
0                0
1    2020-01-19(일)
Name: 일, dtype: object
0                0
1    2020-10-11(일)
Name: 일, dtype: object
0                0
1    2020-10-20(화)
Name: 일, dtype: object
0                0
1    2020-07-19(일)
Name: 일, dtype: object
0                0
1    2020-07-20(월)
Name: 일, dtype: object
0                0
1    2020-07-21(화)
Name: 일, dtype: object
0                0
1    2020-07-22(수)
Name: 일, dtype: object
0                0
1    2020-07-23(목)
Name: 일, dtype: object
0                0
1    2020-07-24(금)
Name: 일, dtype: object
0                0
1    2020-07-25(토)
Name: 일, dtype: object
0                0
1    2020-07-26(일)
Name: 일, dtype: object
0                0
1    2020-07-27(월)
Name: 일, dtype: object
0                0
1    2020-07-29(수)
Name: 일, dtype: object
0                0
1    2020-10-21(수)
Name: 일, dtype: object
0                0
1    2020-07-30(목)
Name: 일, dtype: object
0                0
1    2020-07-31(금)
Name: 일, dtype: object
0                0
1    2020-08-01(토)
Name: 일, dtype: object
0                0
1    2020-08-02(일)
Name: 일, dtype: object
0                0
1    2020-08-03(월)
Name: 일, dtype: object
0                0
1    2020-08-04(화)
Name: 일, dtype: object
0                0
1    2020-08-05(수)
Name: 일, dtype: object
0                0
1    2020-08-06(목)
Name: 일, dtype: object
0                0
1    2020-08-07(금)
Name: 일, dtype: object
0                0
1    2020-08-08(토)
Name: 일, dtype: object
0                0
1    2020-10-22(목)
Name: 일, dtype: object
0                0
1    2020-08-09(일)
Name: 일, dtype: object
0                0
1    2020-08-10(월)
Name: 일, dtype: object
0                0
1    2020-08-11(화)
Name: 일, dtype: object
0                0
1    2020-08-12(수)
Name: 일, dtype: object
0                0
1    2020-08-13(목)
Name: 일, dtype: object
0                0
1    2020-08-14(금)
Name: 일, dtype: object
0                0
1    2020-08-15(토)
Name: 일, dtype: object
0                0
1    2020-08-16(일)
Name: 일, dtype: object
0                0
1    2020-08-17(월)
Name: 일, dtype: object
0                0
1    2020-08-18(화)
Name: 일, dtype: object
0                0
1    2020-10-23(금)
Name: 일, dtype: object
0                0
1    2020-08-19(수)
Name: 일, dtype: object

0                0
1    2020-08-20(목)
Name: 일, dtype: object
0                0
1    2020-08-21(금)
Name: 일, dtype: object
0                0
1    2020-08-22(토)
Name: 일, dtype: object
0                0
1    2020-08-23(일)
Name: 일, dtype: object
0                0
1    2020-08-24(월)
Name: 일, dtype: object
0                0
1    2020-08-25(화)
Name: 일, dtype: object
0                0
1    2020-08-26(수)
Name: 일, dtype: object
0                0
1    2020-08-27(목)
Name: 일, dtype: object
0                0
1    2020-08-28(금)
Name: 일, dtype: object
0                0
1    2020-10-24(토)
Name: 일, dtype: object
0                0
1    2020-08-29(토)
Name: 일, dtype: object
0                0
1    2020-08-30(일)
Name: 일, dtype: object
0                0
1    2020-08-31(월)
Name: 일, dtype: object
0                0
1    2020-09-01(화)
Name: 일, dtype: object
0                0
1    2020-09-02(수)
Name: 일, dtype: object
0                0
1    2020-09-03(목)
Name: 일, dtype: object
0                0
1    2020-09-04(금)
Name: 일, dtype: object
0                0
1    2020-09-05(토)
Name: 일, dtype: object
0                0
1    2020-09-06(일)
Name: 일, dtype: object
0                0
1    2020-09-07(월)
Name: 일, dtype: object
0                0
1    2020-10-25(일)
Name: 일, dtype: object
0                0
1    2020-09-08(화)
Name: 일, dtype: object
0                0
1    2020-09-09(수)
Name: 일, dtype: object
0                0
1    2020-09-10(목)
Name: 일, dtype: object
0                0
1    2020-09-11(금)
Name: 일, dtype: object
0                0
1    2020-09-12(토)
Name: 일, dtype: object
0                0
1    2020-09-13(일)
Name: 일, dtype: object
0                0
1    2020-09-14(월)
Name: 일, dtype: object
0                0
1    2020-09-15(화)
Name: 일, dtype: object
0                0
1    2020-09-16(수)
Name: 일, dtype: object
0                0
1    2020-09-17(목)
Name: 일, dtype: object
0                0
1    2020-10-26(월)
Name: 일, dtype: object
0                0
1    2020-09-18(금)
Name: 일, dtype: object
0                0
1    2020-09-19(토)
Name: 일, dtype: object
0                0
1    2020-09-20(일)
Name: 일, dtype: object
0                0
1    2020-09-21(월)
Name: 일, dtype: object
0                0
1    2020-09-22(화)
Name: 일, dtype: object
0                0
1    2020-09-23(수)
Name: 일, dtype: object
0                0
1    2020-09-24(목)
Name: 일, dtype: object
0                0
1    2020-09-25(금)
Name: 일, dtype: object
0                0
1    2020-09-26(토)
Name: 일, dtype: object
0                0
1    2020-09-27(일)
Name: 일, dtype: object
0                0
1    2020-10-27(화)
Name: 일, dtype: object
0                0
1    2020-09-28(월)
Name: 일, dtype: object
0                0
1    2020-09-29(화)
Name: 일, dtype: object
0                0
1    2020-09-30(수)
Name: 일, dtype: object
0                0
1    2020-10-01(목)
Name: 일, dtype: object
0                0
1    2020-10-02(금)
Name: 일, dtype: object
0                0
1    2020-10-03(토)
Name: 일, dtype: object
0                0
1    2020-10-04(일)
Name: 일, dtype: object
0                0
1    2020-10-05(월)
Name: 일, dtype: object
0                0
1    2020-10-06(화)
Name: 일, dtype: object
0                0
1    2020-10-07(수)
Name: 일, dtype: object
0                0
1    2020-10-28(수)
Name: 일, dtype: object
0                0
1    2020-10-08(목)
Name: 일, dtype: object
0                0
1    2020-10-09(금)
Name: 일, dtype: object
0                0
1    2020-10-10(토)
Name: 일, dtype: object
0                0
1    2020-07-01(수)
Name: 일, dtype: object
0                0
1    2020-10-29(목)
Name: 일, dtype: object
0                0
1    2020-10-12(월)
Name: 일, dtype: object
0                0
1    2020-10-30(금)
Name: 일, dtype: object
0                0
1    2020-10-31(토)
Name: 일, dtype: object
0                0
1    2020-11-01(일)
Name: 일, dtype: object
0                0
1    2020-11-02(월)
Name: 일, dtype: object
0                0
1    2020-11-03(화)
Name: 일, dtype: object
0                0
1    2020-11-04(수)
Name: 일, dtype: object
0                0
1    2020-11-05(목)
Name: 일, dtype: object
0                0
1    2020-11-06(금)
Name: 일, dtype: object
0                0
1    2020-11-07(토)
Name: 일, dtype: object
0                0
1    2020-11-08(일)
Name: 일, dtype: object
0                0
1    2020-10-13(화)
Name: 일, dtype: object
0                0
1    2020-11-09(월)
Name: 일, dtype: object
0                0
1    2020-11-10(화)
Name: 일, dtype: object
0                0
1    2020-11-11(수)
Name: 일, dtype: object
0                0
1    2020-11-12(목)
Name: 일, dtype: object
0                0
1    2020-11-13(금)
Name: 일, dtype: object
0                0
1    2020-11-14(토)
Name: 일, dtype: object
0                0
1    2020-11-15(일)
Name: 일, dtype: object
0                0
1    2020-11-16(월)
Name: 일, dtype: object
0                0
1    2020-11-17(화)
Name: 일, dtype: object
0                0
1    2020-11-18(수)
Name: 일, dtype: object
0                0
1    2020-10-14(수)
Name: 일, dtype: object
0                0
1    2020-11-19(목)
Name: 일, dtype: object
0                0
1    2020-11-20(금)
Name: 일, dtype: object
0                0
1    2020-11-21(토)
Name: 일, dtype: object
0                0
1    2020-11-22(일)
Name: 일, dtype: object
0                0
1    2020-11-23(월)
Name: 일, dtype: object
0                0
1    2020-11-24(화)
Name: 일, dtype: object
0                0
1    2020-11-25(수)
Name: 일, dtype: object
0                0
1    2020-11-26(목)
Name: 일, dtype: object
0                0
1    2020-11-27(금)
Name: 일, dtype: object
0                0
1    2020-11-28(토)
Name: 일, dtype: object
0                0
1    2020-10-15(목)
Name: 일, dtype: object
0                0
1    2020-11-29(일)
Name: 일, dtype: object
0                0
1    2020-11-30(월)
Name: 일, dtype: object
0                0
1    2020-12-01(화)
Name: 일, dtype: object
0                0
1    2020-12-02(수)
Name: 일, dtype: object
0                0
1    2020-12-03(목)
Name: 일, dtype: object
0                0
1    2020-12-04(금)
Name: 일, dtype: object
0                0
1    2020-12-05(토)
Name: 일, dtype: object
0                0
1    2020-12-06(일)
Name: 일, dtype: object
0                0
1    2020-12-07(월)
Name: 일, dtype: object
0                0
1    2020-12-08(화)
Name: 일, dtype: object
0                0
1    2020-10-16(금)
Name: 일, dtype: object
0                0
1    2020-12-09(수)
Name: 일, dtype: object
0                0
1    2020-12-10(목)
Name: 일, dtype: object
0                0
1    2020-12-11(금)
Name: 일, dtype: object
0                0
1    2020-12-12(토)
Name: 일, dtype: object
0                0
1    2020-12-13(일)
Name: 일, dtype: object
0                0
1    2020-12-14(월)
Name: 일, dtype: object
0                0
1    2020-12-15(화)
Name: 일, dtype: object
0                0
1    2020-12-16(수)
Name: 일, dtype: object
0                0
1    2020-12-17(목)
Name: 일, dtype: object
0                0
1    2020-12-18(금)
Name: 일, dtype: object
0                0
1    2020-10-17(토)
Name: 일, dtype: object
0                0
1    2020-12-19(토)
Name: 일, dtype: object
0                0
1    2020-12-20(일)
Name: 일, dtype: object
0                0
1    2020-12-21(월)
Name: 일, dtype: object
0                0
1    2020-12-22(화)
Name: 일, dtype: object
0                0
1    2020-12-23(수)
Name: 일, dtype: object
0                0
1    2020-12-24(목)
Name: 일, dtype: object
0                0
1    2020-12-25(금)
Name: 일, dtype: object
0                0
1    2020-12-26(토)
Name: 일, dtype: object
0                0
1    2020-12-27(일)
Name: 일, dtype: object
0                0
1    2020-12-28(월)
Name: 일, dtype: object
0                0
1    2020-10-18(일)
Name: 일, dtype: object
0                0
1    2020-12-29(화)
Name: 일, dtype: object
0                0
1    2020-12-30(수)
Name: 일, dtype: object
0                0
1    2020-12-31(목)
Name: 일, dtype: object
0                0
1    2020-07-02(목)
Name: 일, dtype: object
0                0
1    2020-07-03(금)
Name: 일, dtype: object
0                0
1    2020-07-04(토)
Name: 일, dtype: object
0                0
1    2020-07-05(일)
Name: 일, dtype: object
0                0
1    2020-07-06(월)
Name: 일, dtype: object
0                0
1    2020-07-07(화)
Name: 일, dtype: object
0                0
1    2020-07-08(수)
Name: 일, dtype: object
0                0
1    2020-10-19(월)
Name: 일, dtype: object
0                0
1    2020-07-09(목)
Name: 일, dtype: object
0                0
1    2020-07-10(금)
Name: 일, dtype: object
0                0
1    2020-07-11(토)
Name: 일, dtype: object

0                0
1    2020-07-12(일)
Name: 일, dtype: object
0                0
1    2020-07-13(월)
Name: 일, dtype: object
0                0
1    2020-07-14(화)
Name: 일, dtype: object
0                0
1    2020-07-15(수)
Name: 일, dtype: object
0                0
1    2020-07-16(목)
Name: 일, dtype: object
0                0
1    2020-07-17(금)
Name: 일, dtype: object
0                0
1    2020-07-18(토)
Name: 일, dtype: object
0                0
1    2021-04-11(일)
Name: 일, dtype: object
0                0
1    2021-04-20(화)
Name: 일, dtype: object
0                0
1    2021-07-19(월)
Name: 일, dtype: object
0                0
1    2021-07-20(화)
Name: 일, dtype: object
0                0
1    2021-07-21(수)
Name: 일, dtype: object
0                0
1    2021-07-22(목)
Name: 일, dtype: object
0                0
1    2021-07-23(금)
Name: 일, dtype: object
0                0
1    2021-07-24(토)
Name: 일, dtype: object
0                0
1    2021-07-25(일)
Name: 일, dtype: object
0                0
1    2021-07-26(월)
Name: 일, dtype: object
0                0
1    2021-07-27(화)
Name: 일, dtype: object
0                0
1    2021-07-28(수)
Name: 일, dtype: object
0                0
1    2021-04-21(수)
Name: 일, dtype: object
0                0
1    2021-07-29(목)
Name: 일, dtype: object
0                0
1    2021-07-30(금)
Name: 일, dtype: object
0                0
1    2021-07-31(토)
Name: 일, dtype: object
0                0
1    2021-01-02(토)
Name: 일, dtype: object
0                0
1    2021-01-03(일)
Name: 일, dtype: object
0                0
1    2021-01-04(월)
Name: 일, dtype: object
0                0
1    2021-01-05(화)
Name: 일, dtype: object
0                0
1    2021-01-06(수)
Name: 일, dtype: object
0                0
1    2021-01-07(목)
Name: 일, dtype: object
0                0
1    2021-01-08(금)
Name: 일, dtype: object
0                0
1    2021-04-22(목)
Name: 일, dtype: object
0                0
1    2021-01-09(토)
Name: 일, dtype: object
0                0
1    2021-01-10(일)
Name: 일, dtype: object
0                0
1    2021-01-11(월)
Name: 일, dtype: object
0                0
1    2021-01-12(화)
Name: 일, dtype: object
0                0
1    2021-01-13(수)
Name: 일, dtype: object
0                0
1    2021-01-14(목)
Name: 일, dtype: object
0                0
1    2021-01-15(금)
Name: 일, dtype: object
0                0
1    2021-01-16(토)
Name: 일, dtype: object
0                0
1    2021-01-17(일)
Name: 일, dtype: object
0                0
1    2021-01-18(월)
Name: 일, dtype: object
0                0
1    2021-04-23(금)
Name: 일, dtype: object
0                0
1    2021-01-19(화)
Name: 일, dtype: object
0                0
1    2021-01-20(수)
Name: 일, dtype: object
0                0
1    2021-01-21(목)
Name: 일, dtype: object
0                0
1    2021-01-21(목)
Name: 일, dtype: object
0                0
1    2021-01-22(금)
Name: 일, dtype: object
0                0
1    2021-01-23(토)
Name: 일, dtype: object
0                0
1    2021-01-24(일)
Name: 일, dtype: object
0                0
1    2021-01-25(월)
Name: 일, dtype: object
0                0
1    2021-01-26(화)
Name: 일, dtype: object
0                0
1    2021-01-27(수)
Name: 일, dtype: object
0                0
1    2021-04-24(토)
Name: 일, dtype: object
0                0
1    2021-01-28(목)
Name: 일, dtype: object
0                0
1    2021-01-29(금)
Name: 일, dtype: object
0                0
1    2021-01-30(토)
Name: 일, dtype: object
0                0
1    2021-01-31(일)
Name: 일, dtype: object
0                0
1    2021-02-01(월)
Name: 일, dtype: object
0                0
1    2021-02-02(화)
Name: 일, dtype: object
0                0
1    2021-02-03(수)
Name: 일, dtype: object
0                0
1    2021-02-04(목)
Name: 일, dtype: object
0                0
1    2021-02-05(금)
Name: 일, dtype: object
0                0
1    2021-02-06(토)
Name: 일, dtype: object
0                0
1    2021-04-25(일)
Name: 일, dtype: object
0                0
1    2021-02-07(일)
Name: 일, dtype: object
0                0
1    2021-02-08(월)
Name: 일, dtype: object
0                0
1    2021-02-09(화)
Name: 일, dtype: object
0                0
1    2021-02-10(수)
Name: 일, dtype: object
0                0
1    2021-02-11(목)
Name: 일, dtype: object
0                0
1    2021-02-12(금)
Name: 일, dtype: object
0                0
1    2021-02-13(토)
Name: 일, dtype: object
0                0
1    2021-02-14(일)
Name: 일, dtype: object
0                0
1    2021-02-15(월)
Name: 일, dtype: object
0                0
1    2021-02-16(화)
Name: 일, dtype: object
0                0
1    2021-04-26(월)
Name: 일, dtype: object
0                0
1    2021-02-17(수)
Name: 일, dtype: object
0                0
1    2021-02-18(목)
Name: 일, dtype: object
0                0
1    2021-02-19(금)
Name: 일, dtype: object
0                0
1    2021-02-20(토)
Name: 일, dtype: object
0                0
1    2021-02-21(일)
Name: 일, dtype: object
0                0
1    2021-02-22(월)
Name: 일, dtype: object
0                0
1    2021-02-23(화)
Name: 일, dtype: object
0                0
1    2021-02-24(수)
Name: 일, dtype: object
0                0
1    2021-02-25(목)
Name: 일, dtype: object
0                0
1    2021-02-26(금)
Name: 일, dtype: object
0                0
1    2021-04-27(화)
Name: 일, dtype: object
0                0
1    2021-02-27(토)
Name: 일, dtype: object
0                0
1    2021-02-28(일)
Name: 일, dtype: object
0                0
1    2021-03-01(월)
Name: 일, dtype: object
0                0
1    2021-03-02(화)
Name: 일, dtype: object
0                0
1    2021-03-03(수)
Name: 일, dtype: object
0                0
1    2021-03-04(목)
Name: 일, dtype: object
0                0
1    2021-03-05(금)
Name: 일, dtype: object
0                0
1    2021-03-06(토)
Name: 일, dtype: object
0                0
1    2021-03-07(일)
Name: 일, dtype: object
0                0
1    2021-03-08(월)
Name: 일, dtype: object
0                0
1    2021-04-28(수)
Name: 일, dtype: object
0                0
1    2021-03-09(화)
Name: 일, dtype: object
0                0
1    2021-03-10(수)
Name: 일, dtype: object
0                0
1    2021-03-11(목)
Name: 일, dtype: object
0                0
1    2021-03-12(금)
Name: 일, dtype: object
0                0
1    2021-03-13(토)
Name: 일, dtype: object
0                0
1    2021-03-14(일)
Name: 일, dtype: object
0                0
1    2021-03-15(월)
Name: 일, dtype: object
0                0
1    2021-03-16(화)
Name: 일, dtype: object
0                0
1    2021-03-17(수)
Name: 일, dtype: object
0                0
1    2021-03-18(목)
Name: 일, dtype: object
0                0
1    2021-04-29(목)
Name: 일, dtype: object
0                0
1    2021-03-19(금)
Name: 일, dtype: object
0                0
1    2021-03-20(토)
Name: 일, dtype: object
0                0
1    2021-03-21(일)
Name: 일, dtype: object
0                0
1    2021-03-22(월)
Name: 일, dtype: object
0                0
1    2021-03-23(화)
Name: 일, dtype: object
0                0
1    2021-03-24(수)
Name: 일, dtype: object
0                0
1    2021-03-25(목)
Name: 일, dtype: object
0                0
1    2021-03-26(금)
Name: 일, dtype: object
0                0
1    2021-03-27(토)
Name: 일, dtype: object
0                0
1    2021-03-28(일)
Name: 일, dtype: object
0                0
1    2021-04-12(월)
Name: 일, dtype: object
0                0
1    2021-04-30(금)
Name: 일, dtype: object
0                0
1    2021-03-29(월)
Name: 일, dtype: object
0                0
1    2021-03-30(화)
Name: 일, dtype: object
0                0
1    2021-03-31(수)
Name: 일, dtype: object
0                0
1    2021-04-01(목)
Name: 일, dtype: object
0                0
1    2021-04-02(금)
Name: 일, dtype: object
0                0
1    2021-04-03(토)
Name: 일, dtype: object
0                0
1    2021-04-04(일)
Name: 일, dtype: object
0                0
1    2021-04-05(월)
Name: 일, dtype: object
0                0
1    2021-04-06(화)
Name: 일, dtype: object
0                0
1    2021-04-07(수)
Name: 일, dtype: object
0                0
1    2021-05-01(토)
Name: 일, dtype: object
0                0
1    2021-04-08(목)
Name: 일, dtype: object
0                0
1    2021-04-09(금)
Name: 일, dtype: object
0                0
1    2021-04-10(토)
Name: 일, dtype: object
0                0
1    2021-01-01(금)
Name: 일, dtype: object
0                0
1    2021-05-02(일)
Name: 일, dtype: object
0                0
1    2021-05-03(월)
Name: 일, dtype: object
0                0
1    2021-05-04(화)
Name: 일, dtype: object
0                0
1    2021-05-05(수)
Name: 일, dtype: object
0                0
1    2021-05-06(목)
Name: 일, dtype: object

0                0
1    2021-05-07(금)
Name: 일, dtype: object
0                0
1    2021-05-08(토)
Name: 일, dtype: object
0                0
1    2021-05-09(일)
Name: 일, dtype: object
0                0
1    2021-04-13(화)
Name: 일, dtype: object
0                0
1    2021-05-10(월)
Name: 일, dtype: object
0                0
1    2021-05-11(화)
Name: 일, dtype: object
0                0
1    2021-05-12(수)
Name: 일, dtype: object
0                0
1    2021-05-13(목)
Name: 일, dtype: object
0                0
1    2021-05-14(금)
Name: 일, dtype: object
0                0
1    2021-05-15(토)
Name: 일, dtype: object
0                0
1    2021-05-16(일)
Name: 일, dtype: object
0                0
1    2021-05-17(월)
Name: 일, dtype: object
0                0
1    2021-05-18(화)
Name: 일, dtype: object
0                0
1    2021-05-19(수)
Name: 일, dtype: object
0                0
1    2021-04-14(수)
Name: 일, dtype: object
0                0
1    2021-05-20(목)
Name: 일, dtype: object
0                0
1    2021-05-21(금)
Name: 일, dtype: object
0                0
1    2021-05-22(토)
Name: 일, dtype: object
0                0
1    2021-05-23(일)
Name: 일, dtype: object
0                0
1    2021-05-24(월)
Name: 일, dtype: object
0                0
1    2021-05-25(화)
Name: 일, dtype: object
0                0
1    2021-05-26(수)
Name: 일, dtype: object
0                0
1    2021-05-27(목)
Name: 일, dtype: object
0                0
1    2021-05-28(금)
Name: 일, dtype: object
0                0
1    2021-05-29(토)
Name: 일, dtype: object
0                0
1    2021-04-15(목)
Name: 일, dtype: object
0                0
1    2021-05-30(일)
Name: 일, dtype: object
0                0
1    2021-05-31(월)
Name: 일, dtype: object
0                0
1    2021-06-01(화)
Name: 일, dtype: object
0                0
1    2021-06-02(수)
Name: 일, dtype: object
0                0
1    2021-06-03(목)
Name: 일, dtype: object
0                0
1    2021-06-04(금)
Name: 일, dtype: object
0                0
1    2021-06-05(토)
Name: 일, dtype: object
0                0
1    2021-06-06(일)
Name: 일, dtype: object
0                0
1    2021-06-07(월)
Name: 일, dtype: object
0                0
1    2021-06-08(화)
Name: 일, dtype: object
0                0
1    2021-04-16(금)
Name: 일, dtype: object
0                0
1    2021-06-09(수)
Name: 일, dtype: object
0                0
1    2021-06-10(목)
Name: 일, dtype: object
0                0
1    2021-06-11(금)
Name: 일, dtype: object
0                0
1    2021-06-12(토)
Name: 일, dtype: object
0                0
1    2021-06-13(일)
Name: 일, dtype: object
0                0
1    2021-06-14(월)
Name: 일, dtype: object
0                0
1    2021-06-15(화)
Name: 일, dtype: object
0                0
1    2021-06-16(수)
Name: 일, dtype: object
0                0
1    2021-06-17(목)
Name: 일, dtype: object
0                0
1    2021-06-18(금)
Name: 일, dtype: object
0                0
1    2021-04-17(토)
Name: 일, dtype: object
0                0
1    2021-06-19(토)
Name: 일, dtype: object
0                0
1    2021-06-20(일)
Name: 일, dtype: object
0                0
1    2021-06-21(월)
Name: 일, dtype: object
0                0
1    2021-06-22(화)
Name: 일, dtype: object
0                0
1    2021-06-23(수)
Name: 일, dtype: object
0                0
1    2021-06-24(목)
Name: 일, dtype: object
0                0
1    2021-06-25(금)
Name: 일, dtype: object
0                0
1    2021-06-26(토)
Name: 일, dtype: object
0                0
1    2021-06-27(일)
Name: 일, dtype: object
0                0
1    2021-06-28(월)
Name: 일, dtype: object
0                0
1    2021-04-18(일)
Name: 일, dtype: object
0                0
1    2021-06-29(화)
Name: 일, dtype: object
0                0
1    2021-06-30(수)
Name: 일, dtype: object
0                0
1    2021-07-01(목)
Name: 일, dtype: object
0                0
1    2021-07-02(금)
Name: 일, dtype: object
0                0
1    2021-07-03(토)
Name: 일, dtype: object
0                0
1    2021-07-04(일)
Name: 일, dtype: object
0                0
1    2021-07-05(월)
Name: 일, dtype: object
0                0
1    2021-07-06(화)
Name: 일, dtype: object
0                0
1    2021-07-07(수)
Name: 일, dtype: object
0                0
1    2021-07-08(목)
Name: 일, dtype: object
0                0
1    2021-04-19(월)
Name: 일, dtype: object
0                0
1    2021-07-09(금)
Name: 일, dtype: object
0                0
1    2021-07-10(토)
Name: 일, dtype: object
0                0
1    2021-07-11(일)
Name: 일, dtype: object
0                0
1    2021-07-12(월)
Name: 일, dtype: object
0                0
1    2021-07-13(화)
Name: 일, dtype: object
0                0
1    2021-07-14(수)
Name: 일, dtype: object
0                0
1    2021-07-15(목)
Name: 일, dtype: object
0                0
1    2021-07-16(금)
Name: 일, dtype: object
0                0
1    2021-07-17(토)
Name: 일, dtype: object
0                0
1    2021-07-18(일)
Name: 일, dtype: object

In [23]:
excel = excel.iloc[1::2,:]
excel

,시도코드,일,시도,합계,경로,국가유공자,어린이,외국인,일반인,장애인,청소년,~
1,11,2019-04-12(금),서울특별시,4617846,350472,8031,45638,20033,3882129,76262,235281,NaN
3,11,2019-04-21(일),서울특별시,2849477,244497,4974,48032,24065,2347986,49795,130128,NaN
5,11,2019-07-20(토),서울특별시,3373489,267209,5654,59932,21179,2800260,54174,165081,NaN
7,11,2019-07-21(일),서울특별시,2700600,214144,4382,43488,19890,2233980,43742,140974,NaN
9,11,2019-07-22(월),서울특별시,4223715,326398,7605,40402,18936,3583821,69914,176639,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1877,11,2021-07-14(수),서울특별시,3091453,244679,5361,14858,842,2685845,50020,89848,NaN
1879,11,2021-07-15(목),서울특별시,3059233,240724,5616,14542,830,2663248,48877,85396,NaN
1881,11,2021-07-16(금),서울특별시,3147108,246275,5582,16488,882,2731727,50010,96144,NaN
1883,11,2021-07-17(토),서울특별시,2140827,186845,3842,17160,968,1809397,34072,88543,NaN
1885,11,2021-07-18(일),서울특별시,1593565,133384,2891,11243,683,1349234,25342,70788,NaN

In [5]:
# excel.to_excel("20200101-20200731.xlsx")

In [24]:
excel["일"]

1       2019-04-12(금)
3       2019-04-21(일)
5       2019-07-20(토)
7       2019-07-21(일)
9       2019-07-22(월)
            ...
1877    2021-07-14(수)
1879    2021-07-15(목)
1881    2021-07-16(금)
1883    2021-07-17(토)
1885    2021-07-18(일)
Name: 일, Length: 943, dtype: object

In [25]:
day = excel["일"]
day

1       2019-04-12(금)
3       2019-04-21(일)
5       2019-07-20(토)
7       2019-07-21(일)
9       2019-07-22(월)
            ...
1877    2021-07-14(수)
1879    2021-07-15(목)
1881    2021-07-16(금)
1883    2021-07-17(토)
1885    2021-07-18(일)
Name: 일, Length: 943, dtype: object

In [26]:
day_list = []
for d in day:
    d = re.sub("\(\w\)","",d)
    day_list.append(d)

In [27]:
excel["일"] = day_list

In [28]:
excel["일"] = pd.to_datetime(excel["일"])

In [29]:
excel["일"]

1      2019-04-12
3      2019-04-21
5      2019-07-20
7      2019-07-21
9      2019-07-22
          ...
1877   2021-07-14
1879   2021-07-15
1881   2021-07-16
1883   2021-07-17
1885   2021-07-18
Name: 일, Length: 943, dtype: datetime64[ns]

In [30]:
excel.sort_values(by="일", inplace=True)

In [31]:
excel = excel.reset_index()
excel

,index,시도코드,일,시도,합계,경로,국가유공자,어린이,외국인,일반인,장애인,청소년,~
0,591,11,2019-01-01,서울특별시,2165828,155006,3620,30815,23653,1806831,35612,110291,NaN
1,369,11,2019-01-02,서울특별시,4052137,287837,7333,41211,19418,3457400,66231,172707,NaN
2,371,11,2019-01-03,서울특별시,4138988,303137,7522,43193,18550,3523298,68084,175204,NaN
3,373,11,2019-01-04,서울특별시,4323246,311215,7735,46397,18426,3686327,70535,182611,NaN
4,375,11,2019-01-05,서울특별시,3317113,267517,5763,54230,17392,2754964,56068,161179,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
938,1481,11,2021-07-27,서울특별시,3069068,243817,5275,19206,824,2651980,49077,98889,NaN
939,1483,11,2021-07-28,서울특별시,3059501,241033,5320,19448,803,2645310,48765,98822,NaN
940,1487,11,2021-07-29,서울특별시,3035623,241367,5334,19465,868,2623309,48219,97061,NaN
941,1489,11,2021-07-30,서울특별시,3106674,243722,5374,21035,888,2688231,48885,98539,NaN
942,1491,11,2021-07-31,서울특별시,2095953,182404,3601,17142,1003,1772762,33501,85540,NaN

In [32]:
del excel["index"]

In [33]:
excel

,시도코드,일,시도,합계,경로,국가유공자,어린이,외국인,일반인,장애인,청소년,~
0,11,2019-01-01,서울특별시,2165828,155006,3620,30815,23653,1806831,35612,110291,NaN
1,11,2019-01-02,서울특별시,4052137,287837,7333,41211,19418,3457400,66231,172707,NaN
2,11,2019-01-03,서울특별시,4138988,303137,7522,43193,18550,3523298,68084,175204,NaN
3,11,2019-01-04,서울특별시,4323246,311215,7735,46397,18426,3686327,70535,182611,NaN
4,11,2019-01-05,서울특별시,3317113,267517,5763,54230,17392,2754964,56068,161179,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
938,11,2021-07-27,서울특별시,3069068,243817,5275,19206,824,2651980,49077,98889,NaN
939,11,2021-07-28,서울특별시,3059501,241033,5320,19448,803,2645310,48765,98822,NaN
940,11,2021-07-29,서울특별시,3035623,241367,5334,19465,868,2623309,48219,97061,NaN
941,11,2021-07-30,서울특별시,3106674,243722,5374,21035,888,2688231,48885,98539,NaN
942,11,2021-07-31,서울특별시,2095953,182404,3601,17142,1003,1772762,33501,85540,NaN

In [34]:
excel.to_excel("대중교통_연령별_이용지표_통합.xlsx")